
.allPost-container{
    height: 90%;
    width: 100%;
    background-color: #282828;
    border-radius: 30px;
    padding: 20px;
    border: solid 1px white;
}
.allPost-container{
    height: auto;
    width: 100%;
    background-color: #282828;
    border-radius: 30px;
    padding: 20px;
    border: solid 1px white;
}
.allPost-header{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
}
.allPost-div{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
}
.allPost-name, .allPost-email{
    height: 40%;
    width: 100%;
    padding: 0;
    font-family: sans-serif;
}
.allPost-name{
    height: auto;
    font-size: larger;
}
.allPost-email{
    height: auto;
    font-size: small;
    padding-left: 10px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.605);
}
.allPost-title{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: large;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    height: 15%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: sans-serif;
}
.allPost-content{
    width: 100%;
    min-height: auto;
    max-height: 60%;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: small;
    padding: 15px;
    padding-top: 0;
}
.allPost-footer-content{
    height: 20%;
    width: 100%;
    font-family: sans-serif;
    display: flex ;
}
.allPost-like{
    border: solid 1px white;
    border-radius: 30px;
    height: 50%;
    width: 10%;
    background-color: transparent;
    font-family: sans-serif;
    font-weight: 500;
    font-size:small;
    color: white;
    cursor: pointer;
    transition: background-color ease-in 0.2s;
}
.allPost-liked{
    background-color: white;
    color: black;
}
.allPost-like:hover{
    background-color: white;
    color: black;
}
.input-field-i-edit-description{
    width: 90%;
    height: 100px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: white 1px solid;
    cursor: pointer;
    overflow-y: auto; 
    white-space: pre-wrap;
    line-height: 1.5; 
    text-wrap: wrap;
    resize: none;
}
.input-field-i-edit-title{
    width: 90%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: white 1px solid;
    cursor: pointer;
    overflow-y: auto; 
    white-space: pre-wrap;
    line-height: 1.5;
    resize: none;   
}