.header {
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px white;
    background-color: rgba(0, 0, 0, 0.8);
}

.header-div {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
}

.nav-link:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: #ccc;
}

.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 10px;
        justify-content: space-between;
    }

    .header-div {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        width: 100%;
        height: auto;
        display: none; 
        z-index: 1;
    }

    .header-div.open {
        z-index: 1;
        display: flex; 
    }

    .nav-link {
        z-index: 1;
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }
}
