.header{
    width: 100vw;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: 400;
    margin: 0;
    padding: 0;
    justify-content: end;
    border-bottom: solid 1px white;
}
.header-div{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-link{
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    transition: transform 0.2s ease;
}
.nav-link:hover{
    transform: scale(1.2);
}